<!-- User Header Module -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../images/favicon/aapIcon.png" size="55x31" >
        <title>My Routine Sample</title>

        <link href="../../css/aap.css" rel="stylesheet">
        <script> </script>

    </head>
    <body>

     <header id="header">
        <div class = "container">
            <a href="/">Daily Routine</a>
            <a href="/routineWeek">Weekly Routine</a>
            <a href="/toDoList">ToDo List</a>
            <a href="/routineWeekEdit">Edit Routine</a>
            <a href="/profileEdit">Profile</a>
            <a href="#">Logout</a>
        </div>
    </header>

    <hr class="horizontalRule" />

